.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.DS_Store
pythonApp/fireFighter/__*
pythonApp/fireFighter/build
pythonApp/fireFighter/dist
pythonApp/fireFighter/fireFighter.egg-info
FireFighterSensorInterface/.vscode
pythonApp/fireFighter/.idea
.directory
